.sign_up {
    display: inline-block;
}

.ga_button {
    margin: 24px 0px;
}

.ga_button button {
    background: none;
    font-size: 16px;
    font-weight: 500;
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    padding: 8px 32px;
}

.darkButton button {
    background-color: var(--font-color);
    color: white;
}

.ga_button button:first-child {
    margin-right: 32px;
}

.ga_button button img {
    margin-right: 16px;
    height: 30px;
}

.signButton {
    margin: 30px 0px;
}

.bottomButton button {
    color: var(--primary-color);
    font-size: 16px;
    background: none;
    border: none;
}

.line1 {
    margin-top: 12px;
    margin-bottom: 18px;
    margin-right: 10px;
    margin-left: 120px;
    color: var(--gray-color);
}

.line2 {
    margin-top: 12px;
    margin-left: 10px;
    color: var(--gray-color);
}

.line3 {
    margin-bottom: 20px;
}

.lname,
.fname {
    flex: 50%;
}

.fill {
    margin: 10px 0px;
}

.fill input {
    border-color: var(--gray-color);
    border-radius: 10px;
    padding: 10px 4px;
    margin: 10px 0px;
}

.fill div input:first-child {
    margin-right: 25px;
}
.waves img{
    position: relative;
        width: 100%;
        margin: -1rem 0 -5rem 0;
        z-index: -1;
}