.head h3 {
    font-weight: 500;
    font-size: 25px;
}

.input input {
    border: none;
    border-bottom: 2px solid var(--line-color);
    margin-right: 16px;
    width: 50px;
}

.color{
    color: var(--primary-color);
}