.wrapper{
    padding: 24px ;
    border-radius: 15px;
    width: 38rem;
    color: var(--white-color);
}
.wrapper p{
    margin-left: 24px;
    font-weight: 400;
    line-height: 1.2;
}
.wrapper h2{
    font-weight: 500;
    margin-bottom: 0.5rem;
}