@import url('../../index.css');

.footer_wrapper {
    background-color: var(--footer-color);
    color: var(--white-color);
    padding: 32px;
}

.footer_top_left{
    flex: 60%;
}

.col {
    margin: 0px 48px;
}

.col_heading {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.9;
}

.col li {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.9;
}

.vertical_line {
    margin: 0px 32px;
}

.footer_top_right{
    flex: 40%;
    width: auto;
}

.footer_top_right button{
    background: none;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    border-radius: 8px;
    padding: 8px;
}

.footer_top_right button i{
    margin-right: 8px;
    font-size: 22px;
}

.getItOn{
    font-size: 10px;
    font-weight: 300;
}

.googlePlay{
    font-size: 14px;
    font-weight: 400;
}

.social_media_icon{
    margin-top: 32px;
}

.social_media_icon span{
    margin: 0px 12px;
}

.social_media_icon span i{
    font-size: 25px;
    margin: 0px 12px;
}

.horizontal_line{
    margin: 40px 0px;
}

.footer_bottom_left{
    flex: 60%;
}

.footer_bottom_left span{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.registered_user{
    margin: 0px 48px;
}

.footer_bottom_right{
    flex: 40%;
}

.footer_bottom_right span{
    font-size: 14ppx;
    font-weight: 400;
}