.footer_wrapper {
    font-family: 'Roboto', sans-serif;
    background-color: #161E2C;
    color: white;
    padding: 2.5rem 3.5rem;
}

.footer_top {
    flex: 1
}

.row1_content {
    display: inline;
}

.row_items {
    list-style-type: none;
    /* Remove bullets */
    padding: 0.5rem 0rem;
    /* Remove padding */
    margin: 0;
    /* Remove margins */

}

.row_items li {
    padding: 0.5rem 0rem;
}

.vertical_line {
    padding: 0rem 1rem;
    padding-left: 4rem;
}

.row {
    padding: 0rem 3rem;
}

.heading {
    font-weight: 600;
}

.googleplaybutton {
    color: white;
    cursor: pointer;
    border-color: white;
    border-radius: 7px;
    background-color: transparent;
    padding: 0.2rem 0.5rem;
    margin: 2rem 2rem;
}

.googleplayimage {
    size: 20px;
}

.googleplaybuttontext {
    font-size: 0.6rem;
}

.gplaytext {
    padding-left: 0rem 0.3rem;
}

.gplay {
    padding-left: 0.5rem;
}

.footer_top_right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.social_media_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal_line {
    padding: 3rem 0rem;
}

.userhelper {
    padding-left: 2rem;
}

.social_media_icon span {
    margin: 0rem 1rem;
}

.footer_bottom {
    display: flex;
}

.footer_bottom_left {
    flex: 50%;
}

.footer_bottom_right {
    flex: 50%;
    width: 100%;
}

.ru {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
}