.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero_content {
    margin: 120px 120px 0px 120px;
}

.left {
    flex: 50%;
}

.right {
    flex: 50%;
}

.right img {
    width: 500px;
    height: 500px;
    position: relative;
    float: right;
}

.firstLine {
    color: rgba(32, 54, 71, 0.75);
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.06em;
    line-height: 1.3;
}

.secondLine {
    color: var(--font-color);
    font-weight: 700;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    margin-bottom: 2rem;

}

.left_button {
    margin-right: 2rem;
}

.left p {
    color: var(--font-color);
    font-weight: 500;
    padding-right: 25px;
    padding-bottom: 2rem;
}