.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1)), url('/public/images/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: calc(100vh - 65px);
}

.hero_content {
    padding-top: 5rem;
}

.logo {
    color: white;
    font-size: 96px;
    font-weight: 600;
    text-shadow: 0px 11px 10px rgba(81,67,21,0.8);
}

.button button {
    color: #06BCFB;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid #06BCFB;
    outline: none;
    margin-top: 1.5rem;
    box-shadow: 1px 2px grey;
}

.button button:last-child {
    margin-left: 7rem;
}