/* flex */
.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.items-left {
    align-items: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.direction-col {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}


/* grid */
.grid {
    display: grid;
}

/* cursor pointer  */
.pointer {
    cursor: pointer;
}
