/* css reset  */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    font-family: 'poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

body {
    background-color: var(--body-color);
}


/* root  */
:root {
    --white-color: #fff;
    --footer-color: #12232e;
    --primary-color: #00FFCC;
    --secondary-color:#425e5e;
    --font-color: #203647;
    --gray-dark-color: #D3D3D3;
    --gray-midium-color: #B0B0B0;
    --gray-light-color: #484848;
    --body-color: #FFF9C0;
    --line-color: #C2C2D6;
}