.upper {
    color: var(--font-color);
    margin: 120px;
}

.left {
    /* margin-top: 5rem; */
    flex: 50%;
}

.left h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
}

.left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 48px 0;
}

.right {
    flex: 50%;
}

.right img {
    position: relative;
    float: right;
    height: 500px;
    width: 500px;
}

.moreabout {
    color: var(--font-color);
    margin: 120px 120px;
}

.moreabout h1 {
    font-weight: 550;
    font-size: 48px;
}

.moreabout h4 {
    font-weight: 550;
    font-size: 20px;
    margin: 58px 0;
}

.moreabout p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 32px;
}

.moreabout .niceDay {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
}