@import url('../../../index.css');

.navbar {
    background-color: var(--body-color);
    padding: 6px 120px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.drope_shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.navbar_left .logo {
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 700;
}

.navbar_right a {
    color: var(--font-color);
    padding: 17px 6px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 32px;
}

.navbar_right a:hover,
.navbar_right a:focus,
.active {
    border-bottom: 2px solid var(--primary-color);
    font-weight: 500 !important;
    color: var(--primary-color) !important;
}

.auth {
    border-left: 1px solid rgba(55, 71, 79, 0.5);
}

.auth .navBtn {
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    margin-left: 32px;
    border: 1px solid var(--green-color);
    padding: 6px 32px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 204, 153, 0.2);
    transition: all 0.4s ease-in-out;
}

.auth .navBtn:hover {
    box-shadow: 0 0 10px rgba(0, 204, 153, 0.6);
}

.auth .login {
    background-color: var(--white-color);
    color: var(--green-color);
}

.auth .login:hover {
    background-color: var(--green-color);
    color: var(--white-color);
}

.auth .signup {
    color: var(--white-color);
    background-color: var(--green-color);
}

.leftButton {
    margin-left: 2rem;
    margin-right: 2rem;
}

@media (min-width:800px) and (max-width:1200px)
{
    .navbar{
        padding: 6px 80px;
    }
}